<div ng-controller="fileExplorerController">
	<link rel="stylesheet" href="table_style.css">

	
	<div class="CSSTableGenerator">
		<table>
			<tr>
				<td colspan="2">File </td>
			</tr>
			<tr ng-repeat = "file in filesToDisplay()">
				<td>{[{ file.name }]}</td>
				<td>
					<div ng-show="file.usageName=='picture'">coucou picture</div>
					<div ng-show="file.usageName=='video'"><a ng-click="videoPlayer.addToPlayList(file.path)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-share-alt"></span> Load</a></div>
					<div ng-show="file.usageName=='texte'">coucou txt</div>
				</td>
			</tr>
		</table>
	</div>
	
	<div container="fluid">
		<table width="100%">
			<tr>	
				<td style="text-align:center">
					<div class="dropdown">
						<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Number of files per page
						<span class="caret"></span></button>
						<ul class="dropdown-menu">
							<li><a ng-click="setNbItemsPerPage(10)">10</a></li>
							<li><a ng-click="setNbItemsPerPage(25)">25</a></li>
							<li><a ng-click="setNbItemsPerPage(50)">50</a></li>
							<li><a ng-click="setNbItemsPerPage(nbItems)">all</a></li>
						</ul>
					</div>
				</td>
				<td style="text-align:center">
					<uib-pagination total-items="nbItems" num-pages="nbPages" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" ng-change="pageChanged()" class="pagination-sm" boundary-link-numbers="true" rotate="false"></uib-pagination>
				</td>
				<td style="text-align:center">
					<a class="btn btn-success" ng-click="refreshFileList()"><span class="glyphicon glyphicon-refresh"></span> Refresh file list</a>
				</td>
			</tr>
		<table>
	</div>
	
</div>
