<div container="container fluid" ng-controller="videoFileEditorController">
	<link rel="stylesheet" href="movie_style.css">
	<div class="col-md-4" style="overflow:scroll;height:400px;">
		<div ng-repeat="file in files | orderBy:index">
			<a ng-click="fileSelected(file.index)">{[{file.name}]}</a>
		</div>
	</div>
	
	<div class="col-md-8" style="overflow:scroll;height:400px;">
		<div class="container fluid">
			<div class="col-md-4  text-right">
				<label>Searched title</label><input ng-model="searchedTitle">
			</div>
			<div class="col-md-4  text-left">
				<a class="btn btn-sm btn-primary" ng-click="search()" ><span class="glyphicon glyphicon-search"></span> Search</a>
			</div>
		</div>
		<div class="container fluid" ng-show="!errorMessage">
			<!--Body content-->
			<ul class="movies col-md-8" >
				<li ng-repeat="movie in searchResults" class="thumbnail">
					<div class="col-md-2 text-left">
						<a class="moviePosterThumb"><img ng-src="{[{movie.Poster}]}" alt="{[{movie.Title}]}"></a>
					</div>
					<div class="col-md-5 text-left">
						<label>{[{movie.Title}]}</label>
						<p>{[{movie.Year}]}</p>
					</div>
					<div class="col-md-1">
						<a class="btn btn-sm btn-primary" ng-click="storeMovieData(movie)" ><span class="glyphicon glyphicon-ok"></span> Select</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="container fluid">
			<div class="col-md-8" ng-show="errorMessage">
				<div class="alert alert-warning">{[{errorMessage}]}</div>
			</div>
		</div>
		<div class="container fluid" ng-show="searchedTitle">
			<div class="col-md-4  text-right">
				<form>
					<fieldset class="form-group">
						<label>Poster URL</label>
						<input ng-model="searchedMoviePosterURL"><!-- <img class="moviePosterThumb" ng-src="{[{searchedMoviePosterURL}]}"> -->
					</fieldset>
					<fieldset class="form-group">
						<label>Movie title</label>
						<input ng-model="searchedTitle">
					</fieldset>
					<fieldset class="form-group">
						<label>Movie year</label>
						<input ng-model="searchedMovieYear">
					</fieldset>
					<fieldset class="form-group">
						<label>Movie type</label>
						<input ng-model="searchedMovieType">
					</fieldset>
				</form>
			</div>
			<div class="col-md-4 text-left vcenter">
				<button type="submit" class="btn btn-primary" ng-click="createAndStoreMovieData(movie)">Save</button>
			</div>
		</div>
	</div>
</div>