<div container="container fluid" ng-controller="videoFileEditorController">
	<link rel="stylesheet" href="movie_style.css">
	<select
	  ng-model="selectedFileIndex"  ng-change="fileSelected();">
		<option ng-repeat="file in files | orderBy:index" ng-value="file.index">{[{file.name}]}</option>
	</select>
	<input ng-model="searchedTitle">
	<a class="btn btn-sm btn-primary" ng-click="search()" ><span class="glyphicon glyphicon-refresh"></span> Search</a>
	<div class="row">
		<div class="col-md-12" ng-show="!errorMessage">
			<!--Body content-->
			<ul class="movies" >
			  <li ng-repeat="movie in searchResults" class="thumbnail">
				<a class="moviePosterThumb"><img ng-src="{[{movie.Poster}]}" alt="{[{movie.Title}]}"></a>
				<label>{[{movie.Title}]}</label>
				<p>{[{movie.Year}]}</p>
				<a class="btn btn-sm btn-primary" ng-click="storeMovieData(movie)" ><span class="glyphicon glyphicon-refresh"></span> Select</a>
			  </li>
			  <li ng-show="searchedTitle" class="thumbnail">
				<p>Poster URL <input ng-model="searchedMoviePosterURL"><img class="moviePosterThumb" ng-src="{[{searchedMoviePosterURL}]}"></p>
				<p>Movie title <input ng-model="searchedTitle"></p>
				<p>Movie year <input ng-model="searchedMovieYear"></p>
				<p>Movie type <input ng-model="searchedMovieType"></p>
				<a class="btn btn-sm btn-primary" ng-click="createAndStoreMovieData(movie)" ><span class="glyphicon glyphicon-refresh"></span> Select</a>
			  </li>
			</ul>
		</div>
		<div class="col-md-12" ng-show="errorMessage">
			<div class="alert alert-warning">{[{errorMessage}]}</div>
		</div>
	</div>
</div>